:root {
  --diffuse-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

#app {
  display: grid;
  grid-template-columns: 1fr min-content min-content min-content 1fr;
  grid-template-rows: min-content 1fr min-content 2fr;
  min-height: 100vh;
  background: #eeeeee;
}

.element-tray {
  margin: 10px;
  grid-row: 1 / 2;
  grid-column: 2 / 5;
  width: 1500px;
  height: min-content;
  border-radius: 0 0 8px 8px;
  box-shadow: var(--diffuse-shadow);
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
  background: #ffffff;
}

.form-canvas {
  margin: 10px;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 75px 75px 75px 75px;
  background: #ffffff;
  box-shadow: var(--diffuse-shadow);
  padding: 16px;
}

.element-placeholder {
  padding: 10px;
  border: #777 solid 2px;
  background: #dddddd;
  border-radius: 6px;
  height: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  grid-column: 1 / -1;
}

.input-box {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #666;
  border: #777 solid 2px;
  border-radius: 6px;
}

.input-box.highlight {
  background-color: lightblue;
}

.submit-btn {
  grid-column: 1 / -1;
  margin: 10px;
  background-color: rgb(7, 160, 255);
  color: white;
  font-weight: bold;
  border: #777 solid 2px;
  border-radius: 6px;
}
